.am-carousel-wrap-dot>span {
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
}

.am-carousel-wrap-dot-active>span {
    background-color: #1E90FF;
}


.nav {
    padding: 10px 0;
}

.nav .am-flexbox-item {
    text-align: center;
}

.nav img {
    width: 30px;
}

.nav h2 {
    margin: 7px;
    font-size: 13px;
    font-weight: normal;
}